@model ProyectoFinal.Models.VIDEOJUEGO

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>VIDEOJUEGO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NOMBRE_VIDEOJUEGO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBRE_VIDEOJUEGO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CATEGORIA_VIDOJUEGO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CATEGORIA_VIDOJUEGO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PESO_VIDEOJUEGO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PESO_VIDEOJUEGO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CATEGORIA_EDAD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CATEGORIA_EDAD)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_VIDEOJUEGO }) |
    @Html.ActionLink("Back to List", "Index")
</p>
